# Set default behavior to automatically normalize line endings
* text=auto

# Force specific files to have Unix line endings
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf

# Force specific files to have Windows line endings
*.bat text eol=crlf
*.cmd text eol=crlf

# Denote all files that are truly binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary